<div id='generateMap'>
  
</div>

<div class="row">
<div id="map"></div>
<h4 id="userData"><%= user.place.placeDoc[0].city %></h4>

<!-- <div id="mapStats">
  <p id="stats">City Data coming soon...</p>
  <p id="stats">(form to add markers to nearby place in trip)</p>
  <p id="stats">track distance in between markers in miles</p>
  <p id="stats">City, Country, Continent</p>
  <p id="stats">Weather API?</p>
</div>
</div> -->

<script type="text/javascript">
  var postion;


//write a for loop that loops trough all cities and puts response in argument for geocode function
//then it will run the function to place the marker on the map for however many cities there are
//Set variable for user.place.placeDoc (array) then as you loop through do i.city or something
  geocode(); 

  function initMap(position) {

        //map options
        var options = {
            center: position,
            zoom: 8,
        }
        //new map
        var map = new google.maps.Map(document.getElementById('map'), options);

        //new marker
        var marker = new google.maps.Marker({
          position: position,
          map: map
        });
    }

  function geocode(){

    let cityName = '<%= user.place.placeDoc[0].city %>';

    $.ajax({
      method: "GET",
      url: 'https://maps.googleapis.com/maps/api/geocode/json',
      data: {
        address: cityName,
        key: "AIzaSyDKzL9i_mBzOIhycihjJQ15j7Z4UakLa6o"
    },
       success: geocodeSuccess,
       error: geocodeError
    });

    function geocodeSuccess (response) {
        console.log(response.results[0].formatted_address);
        console.log(response.results[0].geometry.location);

        var position = response.results[0].geometry.location;
        
        initMap(position);
    }
    function geocodeError (error) {
        console.log(error);
    }
  }

</script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbpOwwcUrc8fTdFZSPy4SDwXq6Vc2eK0s&callback=initMap"></script>