<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/profile.css">

  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/scripts/main.js"></script>

  <title>Travel Log</title>
</head>
<body class="editProfilePage" style="background-color: rgba(240, 240, 240);">

      <h1 id="title">Travel Log</h1>
      <div id="profilePicture">
        <h3 id="profileName">Profile Picture:</br>
        <%= user.email %>.</h3>
      </div>
      
      <a id="logout" href="/logout" class="btn btn-warning">Log Out</a>
      <!-- <a id="return" href="/profile" class="btn btn-default">Return to Profile</a>  --> 
    
  
  <form class="form-inline" id="futurePlaceForm">
    <div class="form-group mb-2">
      <h4 style="font-family: 'Courgette', cursive;">Where do you want to go?</h4>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Password</label>
      <input type="text" class="form-control" id="inputCity" placeholder="Type city name here...">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add</button>
  </form>
      <div id='placesFuture'>
        
      </div>

  <hr>

  <!-- <form class="form-inline" id="pastPlaceForm">
    <div class="form-group mb-2">
      <h4 style="font-family: 'Courgette', cursive;">Past Travel Place</h4>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Password</label>
      <input disabled type="text" class="form-control" id="inputPassword2" placeholder="Coming Soon...v2.0">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add</button>
  </form>
  <hr>
      <div id='placesPast'>
        
      </div>
        
       
      <a id="deleteBtn" class="btn btn-danger" data-id="<%= user._id %>">Delete Account</a>
 -->


</body>
</html>
