<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/scripts/main.js"></script>

  <title>Travel Log</title>
</head>
<body class="editProfilePage">

  <div class="jumbotron">
    <div class="container">
      <h1>Profile</h1>
      <h2>Welcome! You're logged in as </br>
        <%= user.email %>.</h2>
      <a id="logout" href="/logout" class="btn btn-default">Log Out</a>
      <a id="return" href="/profile" class="btn btn-default">Return to Profile</a>  
    </div>
  </div>
  
  <form class="form-inline" id="futurePlaceForm">
    <div class="form-group mb-2">
      <h4>Where do you want to go?</h4>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Password</label>
      <input type="text" class="form-control" id="inputCity" placeholder="Type city name here...">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add</button>
  </form>
  <hr>
      <div id='placesFuture'>
        
      </div>

  <hr>

  <form class="form-inline" id="pastPlaceForm">
    <div class="form-group mb-2">
      <h4>Past Travel Place</h4>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Password</label>
      <input disabled type="text" class="form-control" id="inputPassword2" placeholder="Type city name here...">
      <input disabled type="text" class="form-control" id="inputPassword2" placeholder="Type country name here...">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add</button>
  </form>
  <hr>
      <div id='placesPast'>
        
      </div>

</body>
</html>
