<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">

  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/scripts/main.js"></script>

  <title>Travel Log</title>
</head>
<body background="/images/tripmap2.jpg" style=" background-repeat: no-repeat; background-size: cover;" class="tripMapPage">

  <h2 style="text-align: center; font-family: 'Courgette', cursive;">Welcome to ...</br>
        <%= city %>.</h2>

    <div class="container">
      <a style="margin-left: 500px; margin-bottom: 7px;" id="edit" href="/editProfile" class="btn btn-primary">Back to Profile</a>  
    </div>

<div id='generateMap'>
  
</div>

<div class="row">
<div id="map"></div>
<div id="mapStats">
  <p id="stats">City Data coming soon...</p>
  <p id="stats">(form to add markers to nearby place in trip)</p>
  <p id="stats">track distance in between markers in miles</p>
  <p id="stats">City, Country, Continent</p>
  <p id="stats">Weather API?</p>
</div>
</div>


<script type="text/javascript">
  var postion;

  geocode(); 

  function initMap(position) {

        //map options
        var options = {
            center: position,
            zoom: 8,
        }
        //new map
        var map = new google.maps.Map(document.getElementById('map'), options);

        //new marker
        var marker = new google.maps.Marker({
          position: position,
          map: map
        });
    }

  function geocode(){

    let cityName = '<%= city %>';

    $.ajax({
      method: "GET",
      url: 'https://maps.googleapis.com/maps/api/geocode/json',
      data: {
        address: cityName,
        key: "AIzaSyDKzL9i_mBzOIhycihjJQ15j7Z4UakLa6o"
    },
       success: geocodeSuccess,
       error: geocodeError
    });

    function geocodeSuccess (response) {
        console.log(response.results[0].formatted_address);
        console.log(response.results[0].geometry.location);

        var position = response.results[0].geometry.location;
        
        initMap(position);
    }
    function geocodeError (error) {
        console.log(error);
    }
  }

      
    // google.maps.event.addDomListener(window, 'load', initMap);
</script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbpOwwcUrc8fTdFZSPy4SDwXq6Vc2eK0s&callback=initMap"></script>
</body>
</html>