<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/scripts/main.js"></script>

  <title>Travel Log</title>
</head>
<body class="tripMapPage">

  <h2>Welcome to ...</br>
        <%= city %>.</h2>

    <div class="container">
      <a id="edit" href="/editProfile" class="btn btn-default">Back to Edit Profile</a>  
    </div>

<div id='generateMap'>
  
</div>

<div class="row">
<div id="map"></div>
<div id="mapStats"></div>
</div>




  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbpOwwcUrc8fTdFZSPy4SDwXq6Vc2eK0s"></script>
</body>
</html>