body {
	padding-bottom: 70px;
}

body.background {
background-image: url('/images/myanmar.png');
background-repeat:no-repeat;
/*background-size:contain;*/
background-position:center;
}

.jumbotron {
  background-image: url('/images/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

#profilePicture {
  border: black 1px solid;
  height: 150px;
  width: 150px;
  background-color: white;
  margin-left: 15px;
}

#logout {
  margin-left: 40px;
  margin-top: 5px;
}

#deleteBtn {
  float:right;
}

footer {
  clear: both;
}

.jumbotron .container {
  height: 250px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.a{
  color: black;
}

.h6 {
  float: left;
}

#map {
	position: absolute;
    height: 400px;
    width: 400px;
    z-index: 99;
    float: left;
    margin-left: 50px;
    border: black 1px solid;
/*	height: 100%;
*/}

#mapStats {
  height: 400px;
  width: 400px;
  margin-left: 500px;
  float: left;
  border: black 1px solid;
  background-color: rgba(255, 255, 255, .8);
}

#stats {
  text-align: center;
}

.masterRow {
  width: 1200px;
}

.row {
  width: 400px;
}

.column {
  float: left; 
  width: 350px;
}

.thumbnail {
  text-align: center;
}

#pastPlaceForm {
  clear:both;
}