body {
	padding-bottom: 70px;
}

.jumbotron {
  background-image: url('/images/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

.jumbotron .container {
  height: 250px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

#map {
	position: absolute;
    height: 150px;
    width: 150px;
    z-index: 99;
/*	height: 100%;
*/}

li.list-group-item {
	margin-left: 150px;
}